<a href="https://colab.research.google.com/github/sanjeevk264/The-Sparks-Foundation-Internships_Tasks/blob/main/Project_1_NY_Motor_Vehicle_Collisions_Crashes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
NY Motor Vehicle Collisions - Crashes

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
import statsmodels.api as sm
import os

In [ ]:
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

Exploratory Data Analysis

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018245 entries, 0 to 2018244
Data columns (total 28 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE_CRASH TIME          datetime64[ns]
 1   BOROUGH                        object
 2   ZIP CODE                       object
 3   LATITUDE                       float64
 4   LONGITUDE                      float64
 5   LOCATION                       object
 6   ON STREET NAME                 object
 7   CROSS STREET NAME              object
 8   OFF STREET NAME                object
 9   NUMBER OF PERSONS INJURED      float64
 10  NUMBER OF PERSONS KILLED       float64
 11  NUMBER OF PEDESTRIANS INJURED  int64
 12  NUMBER OF PEDESTRIANS KILLED   int64
 13  NUMBER OF CYCLIST INJURED      int64
 14  NUMBER OF CYCLIST KILLED       int64
 15  NUMBER OF MOTORIST INJURED     int64
 16  NUMBER OF MOTORIST KILLED      int64
 17  CONTRIBUTING FACTOR VEHICLE 1  object
 18  CONTRIBUTING FACTOR VEHICLE 2  object
 19  CONTRIBUTING FACTOR VEHICLE 3  object
 20  CONTRIBUTING FACTOR VEHICLE 4  object
 21  CONTRIBUTING FACTOR VEHICLE 5  object
 22  COLLISION_ID                   int64
 23  VEHICLE TYPE CODE 1            object
 24  VEHICLE TYPE CODE 2            object
 25  VEHICLE TYPE CODE 3            object
 26  VEHICLE TYPE CODE 4            object
 27  VEHICLE TYPE CODE 5            object
dtypes: datetime64[ns](1), float64(4), int64(7), object(16)
memory usage: 431.1+ MB

In [ ]:
df.describe()

,CRASH DATE_CRASH TIME,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,2018245,1.788560e+06,1.788560e+06,2.018227e+06,2.018214e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06
mean,2017-05-14 17:39:03.899198976,4.062776e+01,-7.375228e+01,3.024249e-01,1.446328e-03,5.518507e-02,7.253827e-04,2.612468e-02,1.119785e-04,2.179889e-01,5.896212e-04,3.116455e+06
min,2012-07-01 00:05:00,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,2014-12-19 18:00:00,4.066792e+01,-7.397493e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.140681e+06
50%,2017-03-29 21:15:00,4.072102e+01,-7.392732e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.645346e+06
75%,2019-06-10 18:30:00,4.076956e+01,-7.386665e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.150156e+06
max,2023-08-15 23:59:00,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.655026e+06
std,NaN,1.980901e+00,3.727568e+00,6.937633e-01,4.007201e-02,2.412867e-01,2.741556e-02,1.614267e-01,1.062812e-02,6.549700e-01,2.648117e-02,1.503997e+06

In [ ]:
df.columns

Index(['CRASH DATE_CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

#1 Second highest total number of crashes reported since 2012

In [ ]:
df['CRASH DATE_CRASH TIME'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'])
df_date = df[df['CRASH DATE_CRASH TIME'].dt.year >= 2012]

In [ ]:
borough_crash_counts = df['BOROUGH'].value_counts()
borough_crash_counts

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: count, dtype: int64

#2 Most crashes for every 100,000 people

In [ ]:
Bronx_population=1446788
Brooklyn_population=2648452
Manhattan_population= 1638281
Queens_population=2330295
Statenisland_population=487155

In [ ]:
Bronx_df = borough_crash_counts['BRONX']
Brooklyn_df=borough_crash_counts['BROOKLYN']
Manhattan_df=borough_crash_counts['MANHATTAN']
Queens_df=borough_crash_counts['QUEENS']
Statenisland_df=borough_crash_counts['STATEN ISLAND']

In [ ]:
Bronx_crash=Bronx_df/Bronx_population*100000
Brooklyn_crash=Brooklyn_df/Brooklyn_population*100000
Manhattan_crash=Manhattan_df/Manhattan_population*100000
Queens_crash=Queens_df/Queens_population*100000
Statenisland_crash=Statenisland_df/Statenisland_population*100000

In [ ]:
Bronx_crash,Brooklyn_crash,Manhattan_crash,Queens_crash,Statenisland_crash

(14193.164444272415,
 16652.2179748774,
 19121.628096767283,
 15983.255338916317,
 11966.827806345003)

#3 'CONTRIBUTING FACTOR VEHICLE 1'

In [ ]:
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       692736
Driver Inattention/Distraction    401262
Failure to Yield Right-of-Way     119166
Following Too Closely             107467
Backing Unsafely                   75042
                                   ...
Cell Phone (hand-held)                79
Windshield Inadequate                 77
Texting                               50
Listening/Using Headphones            24
1                                     10
Name: count, Length: 61, dtype: int64

In [ ]:
unspecified_drop=df[df['CONTRIBUTING FACTOR VEHICLE 1']=='Unspecified'].index
df_drop=df.drop(unspecified_drop)
df_drop['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(normalize=True)

CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction                           0.304180
Failure to Yield Right-of-Way                            0.090335
Following Too Closely                                    0.081466
Backing Unsafely                                         0.056886
Other Vehicular                                          0.047521
Passing or Lane Usage Improper                           0.042031
Turning Improperly                                       0.037833
Passing Too Closely                                      0.037788
Fatigued/Drowsy                                          0.035889
Unsafe Lane Changing                                     0.030103
Traffic Control Disregarded                              0.026691
Driver Inexperience                                      0.023707
Unsafe Speed                                             0.020403
Alcohol Involvement                                      0.016416
Lost Consciousness                                       0.015445
Reaction to Uninvolved Vehicle                           0.014784
Pavement Slippery                                        0.014606
Prescription Medication                                  0.011679
View Obstructed/Limited                                  0.010018
Outside Car Distraction                                  0.009595
Oversized Vehicle                                        0.009364
Physical Disability                                      0.007082
Aggressive Driving/Road Rage                             0.007022
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion    0.006910
Passenger Distraction                                    0.006008
Brakes Defective                                         0.005110
Fell Asleep                                              0.004138
Obstruction/Debris                                       0.003141
Glare                                                    0.003049
Failure to Keep Right                                    0.002455
Steering Failure                                         0.002116
Tire Failure/Inadequate                                  0.001860
Pavement Defective                                       0.001820
Other Electronic Device                                  0.001767
Illness                                                  0.001636
Illnes                                                   0.001201
Animals Action                                           0.001151
Reaction to Other Uninvolved Vehicle                     0.001014
Driverless/Runaway Vehicle                               0.000916
Accelerator Defective                                    0.000804
Lane Marking Improper/Inadequate                         0.000735
Traffic Control Device Improper/Non-Working              0.000642
Drugs (illegal)                                          0.000635
Cell Phone (hand-Held)                                   0.000381
Drugs (Illegal)                                          0.000318
Cell Phone (hands-free)                                  0.000204
Tow Hitch Defective                                      0.000161
Other Lighting Defects                                   0.000139
Tinted Windows                                           0.000123
Using On Board Navigation Device                         0.000112
Vehicle Vandalism                                        0.000099
Headlights Defective                                     0.000099
Eating or Drinking                                       0.000088
80                                                       0.000077
Shoulders Defective/Improper                             0.000067
Cell Phone (hand-held)                                   0.000060
Windshield Inadequate                                    0.000058
Texting                                                  0.000038
Listening/Using Headphones                               0.000018
1                                                        0.000008
Name: proportion, dtype: float64

#4 The top 5 causes of crashes (ignoring 'Unspecified')

In [ ]:
df_drop['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(normalize=True).cumsum()

CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction                           0.304180
Failure to Yield Right-of-Way                            0.394514
Following Too Closely                                    0.475981
Backing Unsafely                                         0.532867
Other Vehicular                                          0.580388
Passing or Lane Usage Improper                           0.622418
Turning Improperly                                       0.660251
Passing Too Closely                                      0.698039
Fatigued/Drowsy                                          0.733928
Unsafe Lane Changing                                     0.764031
Traffic Control Disregarded                              0.790722
Driver Inexperience                                      0.814430
Unsafe Speed                                             0.834833
Alcohol Involvement                                      0.851249
Lost Consciousness                                       0.866694
Reaction to Uninvolved Vehicle                           0.881478
Pavement Slippery                                        0.896084
Prescription Medication                                  0.907763
View Obstructed/Limited                                  0.917781
Outside Car Distraction                                  0.927376
Oversized Vehicle                                        0.936739
Physical Disability                                      0.943821
Aggressive Driving/Road Rage                             0.950843
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion    0.957753
Passenger Distraction                                    0.963761
Brakes Defective                                         0.968871
Fell Asleep                                              0.973009
Obstruction/Debris                                       0.976150
Glare                                                    0.979199
Failure to Keep Right                                    0.981654
Steering Failure                                         0.983770
Tire Failure/Inadequate                                  0.985630
Pavement Defective                                       0.987450
Other Electronic Device                                  0.989217
Illness                                                  0.990853
Illnes                                                   0.992053
Animals Action                                           0.993204
Reaction to Other Uninvolved Vehicle                     0.994218
Driverless/Runaway Vehicle                               0.995134
Accelerator Defective                                    0.995938
Lane Marking Improper/Inadequate                         0.996673
Traffic Control Device Improper/Non-Working              0.997315
Drugs (illegal)                                          0.997950
Cell Phone (hand-Held)                                   0.998332
Drugs (Illegal)                                          0.998649
Cell Phone (hands-free)                                  0.998853
Tow Hitch Defective                                      0.999015
Other Lighting Defects                                   0.999154
Tinted Windows                                           0.999277
Using On Board Navigation Device                         0.999389
Vehicle Vandalism                                        0.999488
Headlights Defective                                     0.999587
Eating or Drinking                                       0.999675
80                                                       0.999751
Shoulders Defective/Improper                             0.999818
Cell Phone (hand-held)                                   0.999878
Windshield Inadequate                                    0.999936
Texting                                                  0.999974
Listening/Using Headphones                               0.999992
1                                                        1.000000
Name: proportion, dtype: float64

#5 Total count of accidents that involved two or more fatalities

In [ ]:
df['NUMBER OF PERSONS KILLED'] = df['NUMBER OF PERSONS KILLED'].fillna(0)

In [ ]:
accidents_with_two_or_more_fatalities = df[df['NUMBER OF PERSONS KILLED'] >= 2]

In [ ]:
total_accidents_count = len(accidents_with_two_or_more_fatalities)
total_accidents_count

88

#6 At least one person dead On average, for every 1000 accidents

In [ ]:
accidents_with_deaths = df[df['NUMBER OF PERSONS KILLED'] >= 1]

In [ ]:
total_accidents_with_deaths = accidents_with_deaths.shape[0]
total_accidents = df.shape[0]

In [ ]:
average_deaths_per_1000_accidents = (total_accidents_with_deaths / total_accidents) * 1000

average_deaths_per_1000_accidents

1.3893258747079764

#7 Proportion of accidents in the data do not have a Cross Street Name

In [ ]:
missing_cross_street = df['CROSS STREET NAME'].isnull() | (df['CROSS STREET NAME'] == '')

# Calculate the number of such accidents
total_missing_cross_street = missing_cross_street.sum()

# Calculate the total number of accidents
total_accidents = df.shape[0]

# Calculate the proportion of accidents without a 'Cross Street Name'
proportion_missing_cross_street = (total_missing_cross_street / total_accidents) * 100

proportion_missing_cross_street

37.4350983156158

#8 Combination of vehicles have the most number of accidents

In [ ]:
df['VEHICLE TYPE COMBINATION'] = df['VEHICLE TYPE CODE 1'].fillna('Unknown') + ' and ' + df['VEHICLE TYPE CODE 2'].fillna('Unknown')

# Count the frequency of each vehicle type combination
vehicle_combination_counts = df['VEHICLE TYPE COMBINATION'].value_counts()

# Identify the most common combination
most_common_combination = vehicle_combination_counts.idxmax()
most_common_combination_count = vehicle_combination_counts.max()

most_common_combination, most_common_combination_count

('Sedan and Sedan', 197944)

#9 Among crashes where the contributing factor (CONTRIBUTING FACTOR VEHICLE 1) was alcohol involvement, what proportion resulted in a fatality?

In [ ]:
# Filter for alcohol-related crashes
alcohol_related = df[df['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement'].copy()

# Identify fatal crashes (assuming 'NUMBER OF PERSONS KILLED' is the column to use)
# Ensure no missing values in the fatalities column, assuming missing as 0
alcohol_related['NUMBER OF PERSONS KILLED'] = alcohol_related['NUMBER OF PERSONS KILLED'].fillna(0)

# Filter for crashes with at least one fatality
fatal_crashes = alcohol_related[alcohol_related['NUMBER OF PERSONS KILLED'] > 0]

# Calculate the proportion
proportion_fatal = (len(fatal_crashes) / len(alcohol_related)) * 100

proportion_fatal

0.46638345031400075

#10 Proportion of crashes occur during the evening rush hour, defined as starting at 4 PM, and before 7 PM

In [ ]:
# Filter for crashes between 4 PM and 7 PM
evening_rush_hour_crashes = df[(df['CRASH DATE_CRASH TIME'].dt.hour >= 16) & (df['CRASH DATE_CRASH TIME'].dt.hour < 19)]

# Calculate the total number of crashes
total_crashes = len(df)

# Calculate the proportion of evening rush hour crashes
proportion_evening_rush_hour = (len(evening_rush_hour_crashes) / total_crashes) * 100

proportion_evening_rush_hour

20.514010935243242

#11 crashes involving motorcycles, what proportion resulted in injuries but no fatalities

In [ ]:
# Filter for motorcycle crashes
motorcycle_crashes = df[(df['VEHICLE TYPE CODE 1'].str.contains("MOTORCYCLE", na=False)) |
                        (df['VEHICLE TYPE CODE 2'].str.contains("MOTORCYCLE", na=False))]

# Further filter for crashes with injuries and no fatalities
injuries_no_fatalities = motorcycle_crashes[(motorcycle_crashes['NUMBER OF PERSONS INJURED'] > 0) &
                                            (motorcycle_crashes['NUMBER OF PERSONS KILLED'] == 0)]

# Calculate the proportion
proportion = (len(injuries_no_fatalities) / len(motorcycle_crashes)) * 100

proportion

50.04565018912221

In [ ]:
# Filter for crashes involving bicycles
bicycle_crashes = df[(df['VEHICLE TYPE CODE 1'].str.contains("BICYCLE", na=False)) |
                     (df['VEHICLE TYPE CODE 2'].str.contains("BICYCLE", na=False))]

# Count the number of bicycle-involved crashes
total_bicycle_crashes = len(bicycle_crashes)

total_bicycle_crashes

19108